{% extends 'layouts/plantilla.html' %}

{% load static %}

{% block content %}

<div>
    <h2>Asistencia técnica</h2>
</div>
<form action="{% url 'asistenciaTecnica' %}" class="formRegistrar" method="post">
    {% csrf_token %}
    <div class="form-container">
        <div class="form-group">
            <label for="razon">Razón:</label>
            <select id="razon" name="razon" class="select">
                {% for razon in razones %}
                    <option value="{{ forloop.counter }}">{{ razon }}</option>
                {% endfor %}
            </select>
            <input type="hidden" id="razon-texto" name="razon_texto">
        </div>
        <div class="form-group">
            <label for="motivo">Otra razón:</label>
            <input type="text" name="motivo" id="motivo">
            <div style="display: flex;">
                <input type="checkbox" name="checkbox" id="checkbox" class="inputcheckbox">
                <label for="checkbox" style="padding-top: 15px;">Seleccionar si ninguna razón se aplica</label>
            </div>
        </div>
        <div class="form-group">
            <label for="descripcion">Descripción:</label>
            <textarea name="descripcion" id="descripcion" rows="5" cols="30"></textarea>
        </div>
        <div class="form-actions">
            <input type="submit" value="Enviar" class="btn btn-primary">
            <input type="button" value="Cancelar" class="btn btn-secondary">
        </div>
    </div>
</form>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const checkbox = document.getElementById('checkbox');
        const motivoInput = document.getElementById('motivo');
        const razonSelect = document.getElementById('razon');
        const razonTexto = document.getElementById('razon-texto');
        const originalOptions = Array.from(razonSelect.options); // Guardar las opciones originales

        // Inicialmente deshabilitar el input de motivo
        motivoInput.disabled = true;

        // Manejar el cambio en el checkbox
        checkbox.addEventListener('change', function() {
            if (checkbox.checked) {
                motivoInput.disabled = false;
                motivoInput.value = ''; // Limpiar el campo de texto
                razonSelect.disabled = true; // Deshabilitar el select
                razonTexto.value = ''; // Limpiar el campo oculto
            } else {
                motivoInput.disabled = true;
                razonSelect.disabled = false; // Habilitar el select
                motivoInput.value = '';
                razonSelect.innerHTML = ''; // Limpiar las opciones del select
                originalOptions.forEach(option => {
                    razonSelect.add(option);
                });
                razonTexto.value = razonSelect.options[razonSelect.selectedIndex].text; // Actualizar el texto del select
            }
        });

        // Actualizar el texto del campo oculto cuando cambie la selección
        razonSelect.addEventListener('change', function() {
            razonTexto.value = razonSelect.options[razonSelect.selectedIndex].text;
        });
    });
</script>



{%endblock%}