{% extends 'layouts/plantilla.html' %}

{% load static %}

{% block content %}
<h1>Historial recetas buscadas</h1>
<table>
    <thead>
        <tr>
            <th>Ranking</th>
            <th>Nombre</th>
            <th>Cantidad de búsquedas</th>
            <th>Ver</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in historial_recetas %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ entry.receta.nombre }}</td>
            <td>{{ entry.fechaBuscada|date:"d/m/Y H:i" }}</td> <!-- Formato de fecha -->
            <td><a href=""><input type="button" value="Ver" class="btn btn-primary"></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

