{% extends 'layouts/plantilla.html' %}
{% load static %}
{% block content %}
<div align="center"><h2>BIENVENIDO A RECETARIO IA</h2></div>
<div class="contenedorIndex">
    <div class="carousel">
        <div class="slides" >
            <div class="slide">
                <img src="{% static '/img/img1.jpg' %}" alt="Image 1">
            </div>
            <div class="slide">
                <img src="{% static '/img/img2.jpg' %}" alt="Image 2">
            </div>
            <div class="slide">
                <img src="{% static '/img/img3.jpg' %}" alt="Image 3">
            </div>
        </div>
        <button class="prev" onclick="moveSlide(-1)">&#10094;</button>
        <button class="next" onclick="moveSlide(1)">&#10095;</button>
    </div>
    <script src="{% static '/javascript/script.js' %}"></script>
    <div >
        <img src="{% static '/img/img4.webp' %}" alt="" class="img4">
    </div>
</div>
{% endblock %}