{% extends 'layouts/plantilla.html' %}

{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mostrar Recetas</title>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
</head>
<body>
    <div>
        <table id="tablaRecetas">
            <thead>
                <tr>
                    <th>Nº</th>
                    <th>Nombre receta</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for receta in recetas %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ receta.nombre }}</td>
                    <td><a href=""><input type="button" value="Ver" class="btn btn-primary"></a></td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">No se encontraron recetas.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        // Si quieres añadir algo con JavaScript, coloca aquí el código necesario.
        // Nota: Ya no es necesario agregar el contador manualmente con JavaScript, ya que Django maneja esto automáticamente con forloop.counter
    </script>
</body>
</html>

{% endblock %}