{% extends 'layouts/plantilla.html' %}

{% load static %}

{% block content %}
<form  method="POST" action="{% url 'registraUsuario' %}" class="formRegistrar" >
    {% csrf_token %}
    {% if form.errors %}
        <div class="errors">
            {% for field in form %}
                {% for error in field.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}
    <div class="form-container" style="width: 400px">
        <div class="form-group">
            <label for="">Nombres:</label>
            <input type="text" placeholder="Nombres" id="nombres" name="nombres">
        </div>

        <div class="form-group" style="display: flex;">
            <div>
                <label for="">Apellido paterno:</label>
                <input type="text" placeholder="Apellido paterno" id="apePaterno" name="apePaterno">
            </div>
            <div style="margin-left: auto;">
                <label for="">Apellido manterno:</label>
                <input type="text" placeholder="Apellido materno" id="apeMaterno" name="apeMaterno">
            </div>
        </div>

        <div class="form-group" style="display: flex;">
            <div>
                <label for="">Usuario:</label>
                <input type="text" placeholder="Usuario" id="username" name="username">
            </div>
        </div>
        <div class="form-group" style="display: flex;">
            <div>
                <label for="password1">Contraseña:</label>
                <input type="password" name="password1" id="password1" placeholder="Contraseña">
            </div>
            <div style="margin-left: auto;">
                <label for="password2">Confirmar Contraseña:</label>
                <input type="password" name="password2" id="password2" placeholder="Confirmar Contraseña">
            </div>
        </div>
        <div class="form-group">
            <label for="">Correo:</label>
            <input type="text" placeholder="Correo" id="email" name="email">
        </div>
        <div class="form-group" style="display: flex;">
            <div>
                <label for="">Fecha nacimiento:</label>
                <input type="date" class="custom-date-input" id="fechaNacimiento" name="fechaNacimiento">
            </div>
            <div style="margin-left: auto">
                <label for="">Departamento:</label>
                <select id="departamento" style="width: 195px;" name="departamento">
                    <option value="">Seleccione un departamento</option>
                    {% for depto in form.fields.departamento.queryset %}
                        <option value="{{ depto.id }}">{{ depto.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group" style="display: flex;">
            <div>
                <label for="">Provincia:</label>
                <select id="provincia"  style="width: 190px;" name="provincia">
                    <option value="">Seleccione una provincia</option>
                </select>
            </div>
            <div style="margin-left: auto;">
                <label for="">Distrito:</label>
                <select id="distrito" style="width: 195px;" name="distrito">
                    <option value="">Seleccione un distrito</option>
                </select>
            </div>
        </div>

        <div class="form-actions">
            <input type="submit" value="Registrar" class="btn btn-primary">
            <input type="button" value="Cancelar" class="btn btn-secondary">
        </div>

    </div>
</form>
<script>
    document.getElementById('departamento').addEventListener('change', function() {
    const departamentoId = this.value;
    console.log('Departamento seleccionado:', departamentoId);  
    const provinciaSelect = document.getElementById('provincia');
    const distritoSelect = document.getElementById('distrito');
    
    provinciaSelect.innerHTML = '<option value="">Seleccione una provincia</option>';
    distritoSelect.innerHTML = '<option value="">Seleccione un distrito</option>';

    if (departamentoId) {
        fetch(`/provincias/?departamento_id=${departamentoId}`)
            .then(response => response.json())
            .then(data => {
                data.forEach(provincia => {
                    const option = document.createElement('option');
                    option.value = provincia.id;
                    option.textContent = provincia.nombre;
                    provinciaSelect.appendChild(option);
                });
            });
    }
});

document.getElementById('provincia').addEventListener('change', function() {
    const provinciaId = this.value;
    const distritoSelect = document.getElementById('distrito');

    distritoSelect.innerHTML = '<option value="">Seleccione un distrito</option>';

    if (provinciaId) {
        fetch(`/distritos/?provincia_id=${provinciaId}`)
            .then(response => response.json())
            .then(data => {
                data.forEach(distrito => {
                    const option = document.createElement('option');
                    option.value = distrito.id;
                    option.textContent = distrito.nombre;
                    distritoSelect.appendChild(option);
                });
            });
    }
});

</script>


{% endblock %}
