{% extends 'layouts/plantilla.html'%}
{% load static %}
{% block content %}
<div>
    <h3>Portal de transparencia estándar</h3>
</div>
<div>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae sed est earum laboriosam officia, eius repellat dicta aut blanditiis necessitatibus laudantium reiciendis magnam distinctio excepturi dolore commodi deserunt consequuntur temporibus molestiae minima corrupti delectus numquam cum amet! Quo eveniet tempora enim veniam autem cupiditate nihil nulla reiciendis, voluptates natus officia?
</div>
{% endblock %}