{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recetario</title>
    <link rel="stylesheet" href="{% static '/styles/main.css' %}">
</head>
<body>
    <header>Recetario Inteligente</header>
    <nav class="navbar">
        <ul>
            <li><a href="{% url 'inicio' %}">Inicio</a></li>
            <li><a href="{% url 'recetasComunes' %}">Recetas comunes</a></li>
            <li><a href="{% url 'transparencia' %}">Transparencia</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'logoutUsuario' %}">Cerrar sesión</a></li>
            {% else %}
                <li><a href="{% url 'indexlogin' %}">Iniciar sesión</a></li>
            {% endif %}
        </ul>
    </nav>
    
    
    <div class="divAsideSection">
        {% if user.is_authenticated %}
        <aside>
            <a href="{% url 'indexBuscarReceta' %}">🔎Buscar receta</a>
            <a href="{% url 'historialRecetas' %}">🧾Historial recetas</a>
            <a href="{% url 'asistencia' %}">📪Asistencia técnica</a>
        </aside>
        {% endif %}
        <section style="flex: 1;">
           {% block content %}
           {% endblock %}     
        </section>
    </div>
    
    <footer>Creado por Grupo 02</footer>
</body>
</html>